SPRING_DATASOURCE_URL=jdbc:postgresql://dpg-d75ksh7diees73fa26s0-a:5432/resumeforge_db_x5tw
SPRING_DATASOURCE_USERNAME=sabari_owner
SPRING_DATASOURCE_PASSWORD=38N4TtInUtqLEcl6BrdaZCNGrGK3UhZA

FRONTEND_URL=https://resume-forge-ai-frontend.vercel.app

APP_JWT_SECRET=change-this-secret-key-to-a-long-random-value-at-least-32-chars

RAZORPAY_KEY_ID=rzp_live_SZeIFYRpZFCq5u
RAZORPAY_KEY_SECRET=PASTE_YOUR_REAL_RAZORPAY_KEY_SECRET_HERE
RAZORPAY_PAYMENT_LINK=https://rzp.io/rzp/B8PTdk79

RAZORPAY_WEBHOOK_SECRET=ResumeForge AI 2962006

SPRING_JPA_HIBERNATE_DDL_AUTO=v